@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');


body{
    background-color: black;
    color: white;
    
}

  
  .costume {
    padding: 20px;
    background-color: rgba(116, 61, 17, 0.9);
    color: white;
    font-weight: 100;
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .costume:target {
    opacity: 1;
    transform: scale(1);
  }
  
  .costume > .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: black;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}



.food {
    padding: 20px;
    background-color: rgba(116, 61, 17, 0.9);
    color: white;
    font-weight: 100;
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .food:target {
    opacity: 1;
    transform: scale(1);
  }
  
  .food> .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: black;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}


#result{
    width: 500px;
    height: 100px;
    background: rgb(136, 81, 19);
}

.magazine-title{
    text-align:center;
    font-family: 'Blackletter';
    font-size: 100px;
    font-family: 'UnifrakturCook', serif;
}

.food_section_label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(206, 184, 113);
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}

.food_image {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #ffd476;
    margin: 5px;
    padding: 20px;
    flex-direction: column-reverse;
    flex: 1;
}

.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    text-align: center;
    padding: 20px;
    margin: 10px;
}